.notFav {
  fill: #fdf4e6;
  height: 35px;
  transition: all 200ms ease-in-out;
}

.isFav {
  fill: rgb(244, 80, 80);
  height: 35px;
  transition: all 200ms ease-in-out;
}

.notFav:hover,
.isFav:hover {
  transform: scale(1.1);
}
