.page{
    width: 100vw;
    min-height: 100vh;
    height: fit-content;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: radial-gradient(rgb(62, 83, 103), rgb(41, 63, 85));
}

.componentContainer{
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: centers;
    margin: 1rem;
    padding: 0;
    border: 2px dotted black;
}