.pageWrapper{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: radial-gradient(gray, slategray);
}
.componentContainer{
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: centers;
    margin: 1rem;
}