.cardContainer{
    display: grid;
    gap: 1rem;
    /* this will be changed to constant */
    background-color: lightslategray;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: (100px, auto);
    padding: 1rem;
    border-radius: 1.5rem;
    align-items: center;
}
.cardContainer > *{
    border:5px solid red;
    color:black;
    padding: 0;
    margin: 0;
}
.pokemonSprite{
    background-color: blueviolet;
    height: 100px;
    width: 100px;
    grid-column: 1;
    grid-row: 2;

    /*add boxshadow*/
}
.typePil{
    width: fit-content;
    padding: 0.2rem;
    border-radius:25%;
    grid-column: 2;
    grid-row: 2;
    align-self:last baseline;
}
.nameTitle{
    font-size: 2rem;
    font-weight: bold;
    grid-column: 1;
    grid-row: 1;
}
.isFavorite{
    background-color: palevioletred;
    grid-column: 2;
    grid-row: 1;
}
.isNotFavorite{
    background-color: brown;
    grid-column: 2;
    grid-row: 1;
}
