.cardContainer{
    display: grid;
    gap: 0.5rem 2rem;
    /* this will be changed to constant */
    background-color:#cfb389;
    grid-template-columns: repeat(2);
    /* grid-auto-rows: (auto, auto); */
    padding: 1rem;
    border-radius: 1.5rem;
    /* align-items: center; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.485), 0 6px 20px 0 rgba(0, 0, 0, 0.485);
}
.cardContainer > *{
    color:black;
    padding: 0;
    margin: 0;
}
.pokemonSprite{
    object-fit: cover;
    object-position: center;
    height: 100px;
    width: 100px;
    grid-column: 1;
    grid-row: 2;
    /* border: 2px solid slategray; */
    border-radius:  0 1.5em 0 1.5em;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.485), 0 6px 20px 0 rgba(0, 0, 0, 0.485); */
}
.typePil{
    color: rgb(1, 66, 1);
    width: fit-content;
    padding: 0 0.5rem 0 0.5em;
    border-radius:1.5rem;
    grid-column: 2;
    grid-row: 2;
    justify-self: end;
    align-self:last baseline;
    background-color: rgb(55, 143, 55);
    border: 2px solid rgb(47, 124, 47);
    font-weight: bold;
}
.nameTitle{
    font-size: 1.5rem;
    font-weight: bold;
    grid-column: 1;
    grid-row: 1;
    align-self: start;
    /* padding: 0; */
}
.heartContainer{
    justify-self: last baseline;
    align-self:start;
    grid-column: 2;
    grid-row: 1;
    width: fit-content;
}

